In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [5]:
df = df.fillna('')
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [6]:
df['content'] = df['author'] + ' ' + df['text']

In [7]:
df = df.drop('text',axis=1)
df = df.drop('author',axis=1)

In [8]:
df.head()

,id,title,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,1,Darrell Lucus House Dem Aide: We Didn’t Even S...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",0,Daniel J. Flynn Ever get the feeling your life...
2,2,Why the Truth Might Get You Fired,1,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,1,Jessica Purkiss Videos 15 Civilians Killed In ...
4,4,Iranian woman jailed for fictional unpublished...,1,Howard Portnoy Print \nAn Iranian woman has be...

In [9]:
df.groupby('label').describe()

            id                                                            \
         count          mean          std  min     25%      50%      75%
label
0      10387.0  10392.644171  5982.025154  1.0  5225.5  10396.0  15565.5
1      10413.0  10406.338711  6027.288133  0.0  5159.0  10403.0  15629.0


           max
label
0      20797.0
1      20799.0

In [10]:
import string
from nltk.corpus import stopwords
import re
from nltk.stem.porter import PorterStemmer
port_stem = PorterStemmer()

In [11]:
def text_process(mess):
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [12]:
df['content'].head(5).apply(text_process)

0    [Darrell, Lucus, House, Dem, Aide, Didn’t, Eve...
1    [Daniel, J, Flynn, Ever, get, feeling, life, c...
2    [Consortiumnewscom, Truth, Might, Get, Fired, ...
3    [Jessica, Purkiss, Videos, 15, Civilians, Kill...
4    [Howard, Portnoy, Print, Iranian, woman, sente...
Name: content, dtype: object

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
all_words = CountVectorizer(analyzer=text_process).fit(df['content'])

print(len(all_words.vocabulary_))

311159

In [15]:
messages_bow = all_words.transform(df['content'])

In [16]:
print('Shape of Sparse Matrix: ', messages_bow.shape)
print('Amount of Non-Zero occurences: ', messages_bow.nnz)

Shape of Sparse Matrix:  (20800, 311159)
Amount of Non-Zero occurences:  6265638

In [17]:
from sklearn.feature_extraction.text import TfidfTransformer

In [18]:
text2 = df['content'][1]

bow2 = all_words.transform([text2])
print(bow2)
print(bow2.shape)

tfidf_transformer = TfidfTransformer().fit(messages_bow)
tfidf4 = tfidf_transformer.transform(bow2)
print(tfidf4)

  (0, 2718)	1
  (0, 2746)	2
  (0, 3434)	2
  (0, 5096)	1
  (0, 5281)	1
  (0, 5726)	2
  (0, 5883)	1
  (0, 9753)	1
  (0, 11460)	1
  (0, 12166)	2
  (0, 18953)	1
  (0, 19121)	1
  (0, 19868)	1
  (0, 22481)	1
  (0, 27162)	1
  (0, 28766)	6
  (0, 28914)	1
  (0, 29438)	1
  (0, 33726)	1
  (0, 34133)	1
  (0, 34988)	2
  (0, 35468)	1
  (0, 39316)	1
  (0, 39417)	1
  (0, 39791)	1
  :	:
  (0, 250425)	1
  (0, 250518)	1
  (0, 250531)	1
  (0, 250548)	1
  (0, 251552)	1
  (0, 280672)	5
  (0, 282358)	1
  (0, 286362)	1
  (0, 286796)	1
  (0, 290095)	1
  (0, 294858)	1
  (0, 295206)	1
  (0, 295836)	1
  (0, 296099)	1
  (0, 296484)	1
  (0, 298359)	1
  (0, 298525)	1
  (0, 299855)	1
  (0, 299900)	1
  (0, 300757)	1
  (0, 302973)	1
  (0, 304030)	1
  (0, 308251)	1
  (0, 308620)	1
  (0, 310142)	3
(1, 311159)
  (0, 310142)	0.04416749898182634
  (0, 308620)	0.07479830349562151
  (0, 308251)	0.05013064909666193
  (0, 304030)	0.044282395460433006
  (0, 302973)	0.07580567177067661
  (0, 300757)	0.04981770888129323
  (0, 299900)	0.08419445430819358
  (0, 299855)	0.07826614319149724
  (0, 298525)	0.08419445430819358
  (0, 298359)	0.08173398288737295
  (0, 296484)	0.06715370708185099
  (0, 296099)	0.03016535531049999
  (0, 295836)	0.04353820933668656
  (0, 295206)	0.08766229400406929
  (0, 294858)	0.037935517884316684
  (0, 290095)	0.01990211445534657
  (0, 286796)	0.05549370833663131
  (0, 286362)	0.03775864536136098
  (0, 282358)	0.08766229400406929
  (0, 280672)	0.07300775716017055
  (0, 251552)	0.016771497005532248
  (0, 250548)	0.04447216304038405
  (0, 250531)	0.02846311623935988
  (0, 250518)	0.03186165154457321
  (0, 250425)	0.05151126261668347
  :	:
  (0, 39791)	0.035373529009932146
  (0, 39417)	0.043489196336942405
  (0, 39316)	0.08766229400406929
  (0, 35468)	0.03408490392923017
  (0, 34988)	0.05269592765706742
  (0, 34133)	0.032656758935195686
  (0, 33726)	0.03824750670233386
  (0, 29438)	0.03705100725449179
  (0, 28914)	0.02896240321773035
  (0, 28766)	0.12807416069425615
  (0, 27162)	0.04102261799329974
  (0, 22481)	0.0647909823826513
  (0, 19868)	0.02920730236310632
  (0, 19121)	0.0684075692198978
  (0, 18953)	0.04719239071819598
  (0, 12166)	0.03771731283900078
  (0, 11460)	0.06270734482139637
  (0, 9753)	0.04951581595036243
  (0, 5883)	0.029655934476336274
  (0, 5726)	0.08649651601688438
  (0, 5281)	0.03915451459758787
  (0, 5096)	0.04195023450447577
  (0, 3434)	0.037916023574284086
  (0, 2746)	0.10646897452206798
  (0, 2718)	0.04371200113738483

In [19]:
contents_tfidf = tfidf_transformer.transform(messages_bow)
print(contents_tfidf.shape)

(20800, 311159)

In [20]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(contents_tfidf, df['label'], test_size=0.33, random_state=42)

model = MultinomialNB().fit(X_train, y_train)

In [21]:
from sklearn.metrics import classification_report
all_predictions = model.predict(X_test)
print (classification_report(y_test, all_predictions))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88      3449
           1       1.00      0.72      0.83      3415

    accuracy                           0.86      6864
   macro avg       0.89      0.86      0.86      6864
weighted avg       0.89      0.86      0.86      6864

In [22]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [26]:
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
print (classification_report(y_test, lr_pred))

              precision    recall  f1-score   support

           0       0.99      0.96      0.97      3449
           1       0.96      0.99      0.97      3415

    accuracy                           0.97      6864
   macro avg       0.97      0.97      0.97      6864
weighted avg       0.97      0.97      0.97      6864

In [45]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split