In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv('train.csv')

In [18]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [19]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [20]:
df = df.fillna('')
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [21]:
df['content'] = df['author'] + ' ' + df['text']

In [22]:
df = df.drop('text',axis=1)
df = df.drop('author',axis=1)

In [23]:
df.head()

,id,title,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,1,Darrell Lucus House Dem Aide: We Didn’t Even S...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",0,Daniel J. Flynn Ever get the feeling your life...
2,2,Why the Truth Might Get You Fired,1,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,1,Jessica Purkiss Videos 15 Civilians Killed In ...
4,4,Iranian woman jailed for fictional unpublished...,1,Howard Portnoy Print \nAn Iranian woman has be...

In [24]:
df.groupby('label').describe()

            id                                                            \
         count          mean          std  min     25%      50%      75%
label
0      10387.0  10392.644171  5982.025154  1.0  5225.5  10396.0  15565.5
1      10413.0  10406.338711  6027.288133  0.0  5159.0  10403.0  15629.0


           max
label
0      20797.0
1      20799.0

In [25]:
import string
from nltk.corpus import stopwords
import re
from nltk.stem.porter import PorterStemmer
port_stem = PorterStemmer()

In [26]:
def text_process(mess):
    review = re.sub('[^a-zA-Z]',' ',mess)
    review = review.lower()
    review = review.split()
    review = [port_stem.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    return review

In [27]:
df['content'].head(5).apply(text_process)

0    darrel lucu hous dem aid even see comey letter...
1    daniel j flynn ever get feel life circl rounda...
2    consortiumnew com truth might get fire octob t...
3    jessica purkiss video civilian kill singl us a...
4    howard portnoy print iranian woman sentenc six...
Name: content, dtype: object

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
all_words = CountVectorizer(analyzer=text_process).fit(df['content'])

print(len(all_words.vocabulary_))

27

In [30]:
messages_bow = all_words.transform(df['content'])

In [31]:
print('Shape of Sparse Matrix: ', messages_bow.shape)
print('Amount of Non-Zero occurences: ', messages_bow.nnz)

Shape of Sparse Matrix:  (20800, 27)
Amount of Non-Zero occurences:  533025

In [32]:
from sklearn.feature_extraction.text import TfidfTransformer

In [33]:
text2 = df['content'][1]

bow2 = all_words.transform([text2])
print(bow2)
print(bow2.shape)

tfidf_transformer = TfidfTransformer().fit(messages_bow)
tfidf4 = tfidf_transformer.transform(bow2)
print(tfidf4)

  (0, 0)	369
  (0, 1)	170
  (0, 2)	34
  (0, 3)	87
  (0, 4)	86
  (0, 5)	219
  (0, 6)	26
  (0, 7)	41
  (0, 8)	44
  (0, 9)	160
  (0, 10)	5
  (0, 11)	28
  (0, 12)	126
  (0, 13)	70
  (0, 14)	130
  (0, 15)	136
  (0, 16)	65
  (0, 17)	3
  (0, 18)	152
  (0, 19)	143
  (0, 20)	152
  (0, 21)	55
  (0, 22)	22
  (0, 23)	41
  (0, 24)	2
  (0, 25)	23
  (0, 26)	3
(1, 27)
  (0, 26)	0.006782990450827265
  (0, 25)	0.03808472675420286
  (0, 24)	0.0036840625556144578
  (0, 23)	0.0670687715129621
  (0, 22)	0.035860255046678405
  (0, 21)	0.08838359262087549
  (0, 20)	0.2427265244661985
  (0, 19)	0.22938890422127522
  (0, 18)	0.24201573610946847
  (0, 17)	0.006478914050004315
  (0, 16)	0.10449854630325607
  (0, 15)	0.21738528819491804
  (0, 14)	0.20800466202196408
  (0, 13)	0.11253689601889115
  (0, 12)	0.20167237899720222
  (0, 11)	0.04573261651720362
  (0, 10)	0.009187330506262893
  (0, 9)	0.25583348191246325
  (0, 8)	0.07099303049848099
  (0, 7)	0.0665450307925549
  (0, 6)	0.04248643207398441
  (0, 5)	0.3492641593821308
  (0, 4)	0.13802714594312857
  (0, 3)	0.13977316790313668
  (0, 2)	0.05517306984100141
  (0, 1)	0.2708447152402513
  (0, 0)	0.5865936807987487

In [34]:
contents_tfidf = tfidf_transformer.transform(messages_bow)
print(contents_tfidf.shape)

(20800, 27)

In [35]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(contents_tfidf, df['label'])

In [40]:
from sklearn.metrics import classification_report
all_predictions = model.predict(contents_tfidf)
print (classification_report(df['label'], all_predictions))

              precision    recall  f1-score   support

           0       0.67      0.47      0.55     10387
           1       0.59      0.77      0.67     10413

    accuracy                           0.62     20800
   macro avg       0.63      0.62      0.61     20800
weighted avg       0.63      0.62      0.61     20800

In [37]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [38]:
lr.fit(contents_tfidf, df['label'])

LogisticRegression()

In [44]:
lr_pred = lr.predict(contents_tfidf)
print (classification_report(df['label'], lr_pred))

              precision    recall  f1-score   support

           0       0.66      0.75      0.71     10387
           1       0.72      0.62      0.67     10413

    accuracy                           0.69     20800
   macro avg       0.69      0.69      0.69     20800
weighted avg       0.69      0.69      0.69     20800

In [45]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split