In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
submit = pd.read_csv('submit.csv')

In [64]:
df = pd.read_csv('train.csv')

In [65]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [66]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [67]:
df = df.fillna('')
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [68]:
df['content'] = df['author'] + ' ' + df['title']

In [69]:
df.head()

,id,title,author,text,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,Darrell Lucus House Dem Aide: We Didn’t Even S...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Jessica Purkiss 15 Civilians Killed In Single ...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Howard Portnoy Iranian woman jailed for fictio...

In [70]:
df.groupby('label').describe()
import string
from nltk.corpus import stopwords
import re
from nltk.stem.porter import PorterStemmer
port_stem = PorterStemmer()

In [71]:
def text_process(mess):
    review = re.sub('[^a-zA-Z]',' ',mess)
    review = review.lower()
    review = review.split()
    review = [port_stem.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    return review

In [72]:
df['content'].head(5).apply(text_process)

0    darrel lucu hous dem aid even see comey letter...
1    daniel j flynn flynn hillari clinton big woman...
2               consortiumnew com truth might get fire
3    jessica purkiss civilian kill singl us airstri...
4    howard portnoy iranian woman jail fiction unpu...
Name: content, dtype: object

In [73]:
from sklearn.feature_extraction.text import CountVectorizer

In [74]:
all_words = CountVectorizer(analyzer=text_process).fit(df['content'])

print(len(all_words.vocabulary_))

27

In [75]:
messages_bow = all_words.transform(df['content'])

In [76]:
print('Shape of Sparse Matrix: ', messages_bow.shape)
print('Amount of Non-Zero occurences: ', messages_bow.nnz)

Shape of Sparse Matrix:  (20800, 27)
Amount of Non-Zero occurences:  393188

In [77]:
from sklearn.feature_extraction.text import TfidfTransformer

In [78]:
text2 = df['content'][1]

bow2 = all_words.transform([text2])
print(bow2)
print(bow2.shape)

tfidf_transformer = TfidfTransformer().fit(messages_bow)
tfidf4 = tfidf_transformer.transform(bow2)
print(tfidf4)

  (0, 0)	9
  (0, 1)	5
  (0, 2)	3
  (0, 3)	2
  (0, 4)	1
  (0, 5)	2
  (0, 6)	2
  (0, 7)	1
  (0, 8)	1
  (0, 9)	6
  (0, 10)	1
  (0, 12)	6
  (0, 13)	2
  (0, 14)	8
  (0, 15)	2
  (0, 16)	1
  (0, 18)	3
  (0, 20)	3
  (0, 21)	1
  (0, 23)	1
  (0, 25)	2
(1, 27)
  (0, 25)	0.16889192791097163
  (0, 23)	0.0736252326369783
  (0, 21)	0.06541390757314376
  (0, 20)	0.1656571676908455
  (0, 18)	0.16342471196067945
  (0, 16)	0.06806566318312407
  (0, 15)	0.11073084857500294
  (0, 14)	0.44335000071860137
  (0, 13)	0.11970461191585692
  (0, 12)	0.34821345850869745
  (0, 10)	0.12780900319106014
  (0, 9)	0.3281096738809532
  (0, 8)	0.06798434166818483
  (0, 7)	0.07841478226781179
  (0, 6)	0.17832407375603862
  (0, 5)	0.10844269213296436
  (0, 4)	0.06427825973570588
  (0, 3)	0.12228361985682515
  (0, 2)	0.22674880606124276
  (0, 1)	0.2715765387888838
  (0, 0)	0.48581445715076454

In [79]:
contents_tfidf = tfidf_transformer.transform(messages_bow)
print(contents_tfidf.shape)

(20800, 27)

In [80]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
model = MultinomialNB().fit(contents_tfidf, df['label'])

In [81]:
from sklearn.metrics import classification_report
all_predictions = model.predict(contents_tfidf)
print (classification_report(df['label'], all_predictions))

              precision    recall  f1-score   support

           0       0.73      0.72      0.73     10387
           1       0.73      0.74      0.73     10413

    accuracy                           0.73     20800
   macro avg       0.73      0.73      0.73     20800
weighted avg       0.73      0.73      0.73     20800

In [82]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [83]:
lr.fit(X_train, y_train)
lr_pred = lr.predict(contents_tfidf)
print (classification_report(df['label'], lr_pred))

              precision    recall  f1-score   support

           0       0.79      0.83      0.81     10387
           1       0.82      0.78      0.80     10413

    accuracy                           0.81     20800
   macro avg       0.81      0.81      0.81     20800
weighted avg       0.81      0.81      0.81     20800

In [84]:
submit.head()

      id  label
0  20800      0
1  20801      1
2  20802      0
3  20803      1
4  20804      1

In [ ]:
submit['content'] = df['author'] + ' ' + df['title']

In [ ]:
messages_bow = all_words.transform(df['content'])
contents_tfidf = tfidf_transformer.transform(messages_bow)

In [ ]:
all_predictions = model.predict(contents_tfidf)
print (classification_report(df['label'], all_predictions))

In [ ]:
lr_pred = lr.predict(contents_tfidf)
print (classification_report(df['label'], lr_pred))